<div class="" *ngFor="let banners of serviceList1;  let i = index">
  <ng-container *ngIf="i == 4">
    <section class="hero-wrap" style=" background-image: url({{banners.imageUpload}});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 pt-5 text-center">
            <p class="breadcrumbs">
              <span class="me-2">
                <a href="" (click)="onAboutNav($event)" routerLinkActive="active">Home <i class="fa fa-chevron-right"></i></a>
              </span>
              <span>About Us <i class="fa fa-chevron-right"></i></span>
            </p>
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
<section class="ftco-section ftco-about-section">
  <div class="container-xl">
    <div class="row g-xl-5">
      <div
        class="col-md-6 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
      >
        <div class="row" >
          <div class="col-md-6" *ngFor="let data1 of galleryList | slice:0:1">
            <div class="f-services d-md-flex flex-md-column-reverse">
              <div
                class="img w-100"
                style="background-image: url({{data1.image}});"></div>
              <div class="text w-100 p-4 text-center mb-md-4">
                <div class="icon"><span class="flaticon-pillow"></span></div>
                <h3> {{data1.title}}</h3>
                <p>
                  {{data1.description | slice: 0:101}}.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngFor="let data2 of galleryList | slice:3:4">
            <div class="f-services">
              <div
                class="img w-100 mb-md-4"
                style="
                  background-image: url({{data2.image}});
                "
              ></div>
              <div class="text w-100 p-4 text-center">
                <div class="icon"><span class="flaticon-special"></span></div>
                <h3>{{data2.title}}</h3>
                <p>
                  {{data2.description | slice: 0:103}}.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 heading-section d-flex align-items-center aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
      <div class="mt-5 mt-md-0">
        <span class="subheading">About Us</span>
        <h2 >{{ companyTitle }}</h2>
        <p innerHtml="{{ aboutUs }}"></p>
        <p>
          <a href="#" class="btn btn-primary py-3 px-2">Book Your Slot Now</a>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-intro ftco-no-pt ftco-no-pb img"
  style="background-image: url(../../../assets/images/xbg_1.jpg.pagespeed.ic.oRcg33KJB5.jpg);">
  <div class="overlay"></div>
  <div class="container-xl py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div
          class="row aos-init aos-animate"
          data-aos="fade-up"
          data-aos-duration="1000">
          <div class="col-md-8 d-flex align-items-center">
            <div>
              <span class="subheading">Find Best Hotel For Leaving</span>
              <h1 class="mb-md-0 mb-4">
                Find the Best Hotel in Your Next Vacation
              </h1>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <p class="mb-0">
              <a href="#" class="btn btn-primary py-md-4 py-3 px-md-5 px-4"
                >Book Now</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-container *ngFor="let tour of galleryList | slice: 5:6">
  <section class="img vid-section" style="background-image: url({{tour.image}});">
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-md-10 vid-height d-flex align-items-center justify-content-center text-center">
          <div class="video-wrap aos-init aos-animate" data-aos="fade-up">
            <span class="subheading">Watch our luxurious Moments</span>
            <h3>Take A Tour</h3>
            <a href="https://vimeo.com/115041822" class="video-icon glightbox d-flex align-items-center justify-content-center">
              <span class="ion-ios-play"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<section class="ftco-section testimony-section bg-light">
  <div class="container-xl">
    <div class="row justify-content-center pb-4">
      <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-3">Our Guests</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <div class="gradient-custom">
          <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
              <div class="col-md-12">

                <!-- <div class="card"> -->
                  <!-- <div class="card-body px-4 py-5"> -->
                    <!-- Carousel wrapper -->
                    <div id="carouselControl" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                      <!-- Inner -->
                      <div class="carousel-inner pb-5">

                        <!-- Single item -->
                        <div class="carousel-item active" *ngFor="let carossol of testList; let i=index" [ngClass]="{'active': i == 0 }">
                          <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                              <div class="row">
                                <div class="col-lg-4 d-flex justify-content-center">
                                  <img [src]="carossol.imageLocation"
                                    class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                    height="150" />
                                </div>
                                <div
                                  class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                  <h4 class="mb-4">{{carossol.title}} - {{carossol.designation}}</h4>
                                  <p class="mb-0 pb-3">{{carossol.text}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!-- Inner -->

                      <!-- Controls -->
                      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselControl"
                        data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-mdb-target="#carouselControl"
                        data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    <!-- Carousel wrapper -->
                  <!-- </div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <carousel [itemsPerSlide]="itemsPerSlide"
     >
        <slide *ngFor="let caros of testList">
          <div class="text-center py-5 text-white" style="background-image: url({{caros.imageLocation}});display: block; width: 100%;">

            <h2>{{caros.text}}</h2>
            <div class="lead">
              <p>{{caros.title}}</p>
            </div>
          </div> -->
          <!-- <div class="item tns-item tns-slide-active" id="tns1-item4">
            <div class="testimony-wrap">
            <div class="text">
            <div class="d-flex align-items-center mb-4">
            <div class="user-img" style="background-image: url({{caros.imageLocation}})">
            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
            </div>
            <div class="ps-3 tx">
            <p class="name">{{caros.text}}</p>
            <span class="position">Marketing Manager</span>
            </div>
            </div>
            <p class="mb-4 msg">{{caros.text}}</p>
            </div>
            </div>
            </div> -->
        <!-- </slide>
      </carousel> -->


<section class="ftco-gallery">
  <div class="container-fluid">
    <div class="row g-3" >
      <div class="col-md aos-init aos-animate" *ngFor="let images of galleryList;let i=index" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
        <a (click)="open(i)" class="gallery-wrap img d-flex align-items-center justify-content-center glightbox"style="background-image: url({{images.image}})">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-search"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
